/Source/instructor/__history
/Source/instructor/panels/__history
/Source/bin
/Source/common
/Source/common
/Source/bin
/Source/bin
/Source/components
/Source/components
/Source/components
/Source/server
/Source/server
