*.dcu
/Source/instructor/__history
/Source/instructor/panels/__history
/Source/instructor/panels/__recovery
/Source/bin
/Source/common
/Source/bin
/Source/components
/Source/server
/Source/components/TrendChart
/Source/ersimulator/panel/__history
/Source/ersimulator/__history
/Source/ersimulator
/Source/Emergency Stop/__history
/Source/Emergency Stop
/Source/Emergency Stop
Source/DieselGenerator/__history
/Source/DieselGenerator/__recovery
/Source/DieselGenerator
Source/MCR Machine Left/__history
/Source/MCR Machine Left
/Source/engines/__history
/Source/engines/entity/__history
/Source/engines/system/__history
/Source/MCR Machine Right/__history
/Source/Alarm Rudder/__recovery
/Source/Main Switch Board/__history
/Source/instructor/panels/__history
/Source/MCR Machine Right
/Source/mimics
/Source/Panel Throttle
/Source/server
/Source/Auxilary/__history
