MC_CentrifugalPump_DisableUnavailable_Right     BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\DisableUnavailable_Right.bmp"
MC_CentrifugalPump_Stopped_Right                BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Stopped_Right.bmp"
MC_CentrifugalPump_Running_Right	        BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Running_Right.bmp"
MC_CentrifugalPump_NotReadyToUse_Right       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\NotReadyToUse_Right.bmp"
MC_CentrifugalPump_FailedToStart_Right       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStart_Right.bmp"
MC_CentrifugalPump_FailedToStop_Right	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStop_Right.bmp"

MC_CentrifugalPump_DisableUnavailable_Bottom    BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\DisableUnavailable_Bottom.bmp"
MC_CentrifugalPump_Stopped_Bottom               BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Stopped_Bottom.bmp"
MC_CentrifugalPump_Running_Bottom	        BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Running_Bottom.bmp"
MC_CentrifugalPump_NotReadyToUse_Bottom       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\NotReadyToUse_Bottom.bmp"
MC_CentrifugalPump_FailedToStart_Bottom       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStart_Bottom.bmp"
MC_CentrifugalPump_FailedToStop_Bottom	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStop_Bottom.bmp"

MC_CentrifugalPump_DisableUnavailable_Left      BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\DisableUnavailable_Left.bmp"
MC_CentrifugalPump_Stopped_Left                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Stopped_Left.bmp"
MC_CentrifugalPump_Running_Left	                BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Running_Left.bmp"
MC_CentrifugalPump_NotReadyToUse_Left       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\NotReadyToUse_Left.bmp"
MC_CentrifugalPump_FailedToStart_Left       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStart_Left.bmp"
MC_CentrifugalPump_FailedToStop_Left	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStop_Left.bmp"

MC_CentrifugalPump_DisableUnavailable_Top       BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\DisableUnavailable_Top.bmp"
MC_CentrifugalPump_Stopped_Top                  BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Stopped_Top.bmp"
MC_CentrifugalPump_Running_Top	                BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\Running_Top.bmp"
MC_CentrifugalPump_NotReadyToUse_Top       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\NotReadyToUse_Top.bmp"
MC_CentrifugalPump_FailedToStart_Top       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStart_Top.bmp"
MC_CentrifugalPump_FailedToStop_Top	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalPump\FailedToStop_Top.bmp"

MC_PistonPump_DisableUnavailable_Right  BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\DisableUnavailable_Right.bmp"
MC_PistonPump_Stopped_Right	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\Stopped_Right.bmp"
MC_PistonPump_Running_Right	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\Running_Right.bmp"
MC_PistonPump_NotReadyToUse_Right    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\NotReadyToUse_Right.bmp"
MC_PistonPump_FailedToStart_Right    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\FailedToStart_Right.bmp"
MC_PistonPump_FailedToStop_Right     	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\FailedToStop_Right.bmp"

MC_PistonPump_DisableUnavailable_Top    BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\DisableUnavailable_Top.bmp"
MC_PistonPump_Stopped_Top	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\Stopped_Top.bmp"
MC_PistonPump_Running_Top	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\Running_Top.bmp"
MC_PistonPump_NotReadyToUse_Top    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\NotReadyToUse_Top.bmp"
MC_PistonPump_FailedToStart_Top    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\FailedToStart_Top.bmp"
MC_PistonPump_FailedToStop_Top     	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\PistonPump\FailedToStop_Top.bmp"

MC_SingleSpeedFan_DisableUnavailable    BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\SingleSpeedFan\DisableUnavailable.bmp"
MC_SingleSpeedFan_Stopped	     	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\SingleSpeedFan\Stopped.bmp"
MC_SingleSpeedFan_Running	     	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\SingleSpeedFan\Running.bmp"
MC_SingleSpeedFan_NotReadyToUse         BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\SingleSpeedFan\NotReadyToUse.bmp"
MC_SingleSpeedFan_FailedToStart	        BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\SingleSpeedFan\FailedToStart.bmp"
MC_SingleSpeedFan_FailedToStop	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\SingleSpeedFan\FailedToStop.bmp"

MC_Generator_EG_DisableUnavailable      BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\DisableUnavailable_EG.bmp"
MC_Generator_G1_DisableUnavailable      BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\DisableUnavailable_G1.bmp"
MC_Generator_G2_DisableUnavailable      BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\DisableUnavailable_G2.bmp"
MC_Generator_G3_DisableUnavailable      BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\DisableUnavailable_G3.bmp"
MC_Generator_G4_DisableUnavailable      BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\DisableUnavailable_G4.bmp"
MC_Generator_EG_Stopped                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Stopped_EG.bmp"
MC_Generator_G1_Stopped                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Stopped_G1.bmp"
MC_Generator_G2_Stopped                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Stopped_G2.bmp"
MC_Generator_G3_Stopped                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Stopped_G3.bmp"
MC_Generator_G4_Stopped                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Stopped_G4.bmp"
MC_Generator_EG_Running                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Running_EG.bmp"
MC_Generator_G1_Running                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Running_G1.bmp"
MC_Generator_G2_Running                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Running_G2.bmp"
MC_Generator_G3_Running                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Running_G3.bmp"
MC_Generator_G4_Running                 BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\Running_G4.bmp"
MC_Generator_EG_NotReadyToUse           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\NotReadyToUse_EG.bmp"
MC_Generator_G1_NotReadyToUse           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\NotReadyToUse_G1.bmp"
MC_Generator_G2_NotReadyToUse           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\NotReadyToUse_G2.bmp"
MC_Generator_G3_NotReadyToUse           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\NotReadyToUse_G3.bmp"
MC_Generator_G4_NotReadyToUse           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\NotReadyToUse_G4.bmp"
MC_Generator_EG_FailedToStop            BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStop_EG.bmp"
MC_Generator_G1_FailedToStop            BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStop_G1.bmp"
MC_Generator_G2_FailedToStop            BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStop_G2.bmp"
MC_Generator_G3_FailedToStop            BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStop_G3.bmp"
MC_Generator_G4_FailedToStop            BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStop_G4.bmp"
MC_Generator_EG_FailedToStart           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStart_EG.bmp"
MC_Generator_G1_FailedToStart           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStart_G1.bmp"
MC_Generator_G2_FailedToStart           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStart_G2.bmp"
MC_Generator_G3_FailedToStart           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStart_G3.bmp"
MC_Generator_G4_FailedToStart           BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Generator\FailedToStart_G4.bmp"

MC_Separator_DisableUnavailable BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Separator\DisableUnavailable.bmp"
MC_Separator_Stopped		BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Separator\Stopped.bmp"
MC_Separator_Running		BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Separator\Running.bmp"
MC_Separator_NotReadyToUse	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Separator\NotReadyToUse.bmp"
MC_Separator_FailedToStart	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Separator\FailedToStart.bmp"
MC_Separator_FailedToStop	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Separator\FailedToStop.bmp"

MC_Filter_DisableUnavailable    BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Filter\DisableUnavailable.bmp"
MC_Filter_Stopped	        BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Filter\Stopped.bmp"
MC_Filter_Running	        BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Filter\Running.bmp"
MC_Filter_NotReadyToUse	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Filter\NotReadyToUse.bmp"
MC_Filter_FailedToStart	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Filter\FailedToStart.bmp"
MC_Filter_FailedToStop	       	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\Filter\FailedToStop.bmp"

MC_BiDirectionalFan_1   BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\1.bmp"
MC_BiDirectionalFan_2	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\2.bmp"
MC_BiDirectionalFan_3	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\3.bmp"
MC_BiDirectionalFan_4	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\4.bmp"
MC_BiDirectionalFan_5	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\5.bmp"
MC_BiDirectionalFan_6	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\6.bmp"
MC_BiDirectionalFan_7	BITMAP	"D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\7.bmp"
MC_BiDirectionalFan_8	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\8.bmp"
MC_BiDirectionalFan_9	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\9.bmp"
MC_BiDirectionalFan_10	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\10.bmp"
MC_BiDirectionalFan_11	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\11.bmp"
MC_BiDirectionalFan_12	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\BiDirectionalFan\12.bmp"

MC_DoubleSpeedFan_1     BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\1.bmp"
MC_DoubleSpeedFan_2    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\2.bmp"
MC_DoubleSpeedFan_3    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\3.bmp"
MC_DoubleSpeedFan_4    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\4.bmp"
MC_DoubleSpeedFan_5    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\5.bmp"
MC_DoubleSpeedFan_6    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\6.bmp"
MC_DoubleSpeedFan_7    	BITMAP	"D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\7.bmp"
MC_DoubleSpeedFan_8    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\8.bmp"
MC_DoubleSpeedFan_9    	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\9.bmp"
MC_DoubleSpeedFan_10	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\10.bmp"
MC_DoubleSpeedFan_11	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\11.bmp"
MC_DoubleSpeedFan_12	BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\DoubleSpeedFan\12.bmp"

MC_Standby_1    BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalStandby\1.bmp"
MC_Standby_2    BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalStandby\2.bmp"
MC_Standby_3    BITMAP  "D:\IPMS\trunk\source\components\Asset\MotorControl\CentrifugalStandby\3.bmp"

VC_Standard_Hor_DisableUnavailable      BITMAP  "D:\IPMS\trunk\source\components\Asset\Valve\Standart\HorDisableUnavailable.bmp"
VC_Standard_Hor_Closed                  BITMAP	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\HorClosed.bmp"
VC_Standard_Hor_Open                    BITMAP	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\HorOpen.bmp"
VC_Standard_Hor_NotReadyToClose         BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\HorNotReadyToClose.bmp"
VC_Standard_Hor_NotReadyToOpen          BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\HorNotReadyToOpen.bmp"
VC_Standard_Hor_CloseFailed		BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\HorCloseFailed.bmp"
VC_Standard_Hor_OpenFailed		BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\HorOpenFailed.bmp"
VC_NonReturn_Hor_DisableUnavailable     BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\HorDisableUnavailable.bmp"
VC_NonReturn_Hor_Closed                 BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\HorClosed.bmp"
VC_NonReturn_Hor_Open                   BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\HorOpen.bmp"
VC_NonReturn_Hor_NotReadyToOpen         BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\HorNotReadyToOpen.bmp"
VC_NonReturn_Hor_CloseFailed            BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\HorCloseFailed.bmp"
VC_NonReturn_Hor_OpenFailed             BITMAP  "D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\HorOpenFailed.bmp"

VC_Standard_Ver_DisableUnavailable      BITMAP  "D:\IPMS\trunk\source\components\Asset\Valve\Standart\VerDisableUnavailable.bmp"
VC_Standard_Ver_Closed                  BITMAP	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\VerClosed.bmp"
VC_Standard_Ver_Open                    BITMAP	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\VerOpen.bmp"
VC_Standard_Ver_NotReadyToClose         BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\VerNotReadyToClose.bmp"
VC_Standard_Ver_NotReadyToOpen          BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\VerNotReadyToOpen.bmp"
VC_Standard_Ver_CloseFailed		BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\VerCloseFailed.bmp"
VC_Standard_Ver_OpenFailed		BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Standart\VerOpenFailed.bmp"
VC_NonReturn_Ver_DisableUnavailable     BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\VerDisableUnavailable.bmp"
VC_NonReturn_Ver_Closed                 BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\VerClosed.bmp"
VC_NonReturn_Ver_Open                   BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\VerOpen.bmp"
VC_NonReturn_Ver_NotReadyToOpen         BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\VerNotReadyToOpen.bmp"
VC_NonReturn_Ver_CloseFailed            BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\VerCloseFailed.bmp"
VC_NonReturn_Ver_OpenFailed             BITMAP  "D:\IPMS\trunk\source\components\Asset\Valve\NonReturn\VerOpenFailed.bmp"

VC_Proportional_Hor_DisableUnavailable  BITMAP  "D:\IPMS\trunk\source\components\Asset\Valve\Proportionally\HorDisableUnavailable.bmp"
VC_Proportional_Hor_AlmostClosed        BITMAP	"D:\IPMS\trunk\source\components\Asset\Valve\Proportionally\HorAlmostClosed.bmp"
VC_Proportional_Hor_NotClose            BITMAP	"D:\IPMS\trunk\source\components\Asset\Valve\Proportionally\HorNotClosed.bmp"
VC_Proportional_Hor_NotReadyToUse       BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Proportionally\HorNotReadyToUse.bmp"
VC_Proportional_Hor_OpenFailed		BITMAP 	"D:\IPMS\trunk\source\components\Asset\Valve\Proportionally\HorCloseFailed.bmp"

RH_1    BITMAP  "D:\IPMS\trunk\source\components\Asset\RunningHour\RH_01.bmp"
RH_2    BITMAP  "D:\IPMS\trunk\source\components\Asset\RunningHour\RH_02.bmp"
RH_3A   BITMAP  "D:\IPMS\trunk\source\components\Asset\RunningHour\RH_03A.bmp"
RH_3B   BITMAP  "D:\IPMS\trunk\source\components\Asset\RunningHour\RH_03B.bmp"

CB_Hor_1    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_1.bmp"
CB_Hor_2    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_2.bmp"
CB_Hor_3    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_3.bmp"
CB_Hor_4    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_4.bmp"
CB_Hor_5    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_5.bmp"
CB_Hor_6    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_6.bmp"
CB_Hor_7    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_7.bmp"
CB_Hor_8    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Hor_8.bmp"

CB_Ver_1    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_1.bmp"
CB_Ver_2    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_2.bmp"
CB_Ver_3    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_3.bmp"
CB_Ver_4    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_4.bmp"
CB_Ver_5    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_5.bmp"
CB_Ver_6    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_6.bmp"
CB_Ver_7    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_7.bmp"
CB_Ver_8    BITMAP  "D:\IPMS\trunk\source\components\Asset\CircuitBreaker\Ver_8.bmp"

CTR_Checkbox_DisableUnavailable BITMAP  "D:\IPMS\trunk\source\components\Asset\ControlElement\CTR_01.bmp"
CTR_Checkbox_OFF                BITMAP  "D:\IPMS\trunk\source\components\Asset\ControlElement\CTR_02.bmp"
CTR_Checkbox_ON                 BITMAP  "D:\IPMS\trunk\source\components\Asset\ControlElement\CTR_03.bmp"
CTR_Checkbox_NotReadyToUse      BITMAP  "D:\IPMS\trunk\source\components\Asset\ControlElement\CTR_04.bmp"
CTR_Checkbox_Alarm              BITMAP  "D:\IPMS\trunk\source\components\Asset\ControlElement\CTR_05.bmp"

PC_Server       BITMAP "D:\IPMS\trunk\source\components\Asset\Computer\PC_Server.bmp"
PC_Client       BITMAP "D:\IPMS\trunk\source\components\Asset\Computer\PC_Client.bmp"

Sound_On        RCDATA     "D:\IPMS\trunk\source\mimics\background\speaker_on.png"
Sound_Off       RCDATA     "D:\IPMS\trunk\source\mimics\background\speaker_off.png"
